<div class="portfolio-container">
  <!-- Custom Groups -->
  <mat-card class="groups-card">
    <mat-card-title>Custom Groups</mat-card-title>
    <app-groups-table></app-groups-table>
  </mat-card>

  <!-- Cryptos -->
  <mat-card class="crypto-card">
    <mat-card-title>Cryptos</mat-card-title>
    <app-crypto-table></app-crypto-table>
  </mat-card>

  <!-- Stocks -->
  <mat-card class="stock-card">
    <mat-card-title>Stocks</mat-card-title>
    <app-stock-table></app-stock-table>
  </mat-card>
</div>
