<div class="login-container">
  <mat-card>
    <mat-card-title class="center-title">Portfolio-Manager Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <div class="button-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
          <button mat-raised-button color="accent" (click)="navigateToRegister()">Register</button>
        </div>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      </form>
      <div class="other-button-group">
        <button (click)="onGithubLogin()" class="github-login-button">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Sign-In button" class="github-logo">
        </button>
        <button (click)="onGoogleLogin()" class="google-login-button">
          <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Google Sign-In button">
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
