<div class="dashboard-container">
  <app-portfolio-composition></app-portfolio-composition>
  <mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
    <!-- Left Section -->
    <mat-grid-tile colspan="2" rowspan="2" class="left-section">
      <app-group-pnl-table></app-group-pnl-table>
    </mat-grid-tile>

    <!-- Right Top Section -->
    <mat-grid-tile colspan="2" class="right-top-section">
      <app-pnl-display></app-pnl-display>
    </mat-grid-tile>

    <!-- Right Bottom Section -->
    <mat-grid-tile colspan="2" class="right-bottom-section">
      <app-daily-prices></app-daily-prices>
    </mat-grid-tile>
  </mat-grid-list>
</div>
