.dashboard-container {
  width: 90%;
  margin: 100px auto 0;
}

.left-section {
  border-radius: 15px;
  background: #FEF8F8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-top-section {
  border-radius: 15px;
  background: #FEF8F8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-bottom-section {
  border-radius: 15px;
  background: #FEF8F8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
