<div class="dashboard-container">
  <mat-card class="half-width" style="background: transparent;">
    <app-daily-prices></app-daily-prices>
  </mat-card>

  <mat-card class="half-width" style="background: transparent;">
    <app-pnl-display></app-pnl-display>
  </mat-card>


  <mat-card class="half-width">
    <app-portfolio-value-barchart></app-portfolio-value-barchart>
  </mat-card>

  <mat-card class="half-width">
    <app-pnl-assets-chart></app-pnl-assets-chart>
  </mat-card>

  <mat-card class="half-width">
    <app-portfolio-composition></app-portfolio-composition>
  </mat-card>

  <mat-card class="half-width">
    <app-group-pnl-barchart></app-group-pnl-barchart>
  </mat-card>
</div>
