<div class="table-header">
  <button mat-raised-button color="primary" (click)="openAddDialog()">+ Add New</button>
</div>
<table mat-table [dataSource]="dataSource">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <!-- Purchase Date Column -->
  <ng-container matColumnDef="purchaseDate">
    <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
    <td mat-cell *matCellDef="let element"> {{element.purchaseDate | date}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
  </ng-container>

  <!-- Current Price Column -->
  <ng-container matColumnDef="currentPrice">
    <th mat-header-cell *matHeaderCellDef> Current Price </th>
    <td mat-cell *matCellDef="let element"> {{element.currentPrice | currency}} </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <!-- Group Column -->
  <ng-container matColumnDef="groupName">
    <th mat-header-cell *matHeaderCellDef> Group </th>
    <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openEditDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
