<div class="price-cards">
  <!-- Bitcoin -->
  <mat-card class="price-card">
    <mat-card-header>
<!--      <img src="assets/icons/bitcoin-logo.svg" alt="Bitcoin" class="crypto-logo">-->
      <mat-card-title>Bitcoin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!btcCurrentPrice || !btcOneYearAgoPrice" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="btcCurrentPrice !== null">
        <p><strong>Today:</strong> {{ btcCurrentPrice | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
      <div *ngIf="btcOneYearAgoPrice !== null">
        <p><strong>YTD:</strong> {{ btcOneYearAgoPrice | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Ethereum -->
  <mat-card class="price-card">
    <mat-card-header>
<!--      <img src="assets/icons/ethereum-logo.svg" alt="Ethereum" class="crypto-logo">-->
      <mat-card-title>Ethereum</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!ethCurrentPrice || !ethOneYearAgoPrice" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="ethCurrentPrice !== null">
        <p><strong>Today:</strong> {{ ethCurrentPrice | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
      <div *ngIf="ethOneYearAgoPrice !== null">
        <p><strong>YTD:</strong> {{ ethOneYearAgoPrice | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
