.price-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.price-card {
  width: 100%;
  text-align: center;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.label {
  font-weight: bold;
}

.current-price {
  font-weight: bold;
}

.price-container .positive {
  color: green;
}

.price-container .negative {
  color: red;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
